.works-page {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h1.page-title {
    margin-left: 140px;
    width: 100%;
    margin-bottom: 12px;
  }

  .carousel-container {
    margin-bottom: 60px;
    margin-left: 70px;
  }
}
