.workDetail-page {
  width: calc(100% - 150px);
  margin-left: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
  min-width: 90vw;

  .image-box {
    width: 950px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    object-fit: cover;
    position: relative;
    //border-radius: 22px;
    
    .work-image {
      width: 100%;
      margin: 0;
      //border-radius: 22px;
      border: none;
    }

    .work-info {
      position: absolute;
      margin: 52px;
      border: none;

      .title {
        font-size: 44px;
        font-weight: 500;
        text-align: center;
        color: #FFB703;
        margin-bottom: 42px;
        line-height: 24px;
      }

      .description {
        margin-bottom: 34px;
        font-weight: 300;
        color: #F1EFFB;
        font-size: 22px;
        
      }

      .techs {
        color: #FFB703;
        margin-bottom: -28px;
        font-size: 26px;
        font-weight: 400;
      }

      .btn {
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 0 23px;
        height: 40px;
        line-height: 34px;
        border: 2px solid #FFB703;
        border-radius: 6px;
        font-size: 14px;
        color: #F6F7F9;
        background: transparent;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
      }
      
      .btn:hover {
        /* transform: translateY(-3px); */
        background: #FFB703;
        color: #083B60;
      }
      
    }
  }

  .image-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #0d1622, #0d1824, #0d1927);
    //background-color: #0C1C2C;
    opacity: 0.85;
    //border-radius: 21px;
  }

}

@media screen and (max-width: 900px) {

  .container.workDetail-page {
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 0 !important;

    .image-box{
      width: 95%;
      height: 100vh;
    }
  
    .work-image{
      width: 100%;
      position: relative;
      top: 35%;
    }
  
    .my-atropos {
      margin-top: 30px;
      width: 95%;
      height: 95vh;
      margin-bottom: 20px;
    } 
  
    .work-info {
      width: 90%;
      padding: 10px;
      margin: 2px !important;
      height: 95vh;
      margin-top: -30px !important;

      .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 14px;
      }

      .description {
        margin-bottom: 16px;
        font-weight: 300;
        font-size: 18px;
      }

      .techs {
        margin-bottom: -18px;
        font-size: 20px;
        font-weight: 400;
      }

      .btn {
        margin-top: 12px;
        /* position: relative;
        bottom: -80px;
        margin-bottom: 10px; */
        color: #FFB703;
        background: #083B60;
      }
      
      .btn:hover {
        color: #FFB703;
        background: #083B60;
      }
    }
  }

}




